{% extends "layout.html" %}
{%  load static %}

{% block content %}
  <div class="bounds bounds--small">
    <div class="grid-100 mineral__container">
      <h1 class="mineral__name">{{ mineral.name|title }}</h1>
      <div class="mineral__image-bg">
        {% with 'images/'|add:mineral.image_filename as image_path %}
          <img class="mineral__image" src="{% static image_path %}">
        {% endwith %}
        <p class="mineral__caption">{{ mineral.image_caption|title }}</p>
      </div>
      <div class="mineral__table-container">
        <table class="mineral__table">
          <tr>
            <td class="mineral__category">Category</td>
            <td>{{ mineral.category|title }}</td>
          </tr>
          <tr>
            {% if mineral.formula != "" %}
              <td class="mineral__category">Formula</td>
              <td class="mineral__formula">{{ mineral.formula|safe }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if mineral.strunz_classification != "" %}
              <td class="mineral__category">Strunz Classification</td>
              <td>{{ mineral.strunz_classification }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if mineral.crystal_system != "" %}
              <td class="mineral__category">Crystal System</td>
              <td>{{ mineral.crystal_system|title }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if mineral.mohs_scale_hardness != "" %}
              <td class="mineral__category">Mohs Scale Hardness</td>
              <td>{{ mineral.mohs_scale_hardness }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if mineral.luster != "" %}
              <td class="mineral__category">Luster</td>
              <td>{{ mineral.luster|title }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if mineral.color != "" %}
              <td class="mineral__category">Color</td>
              <td>{{ mineral.color|title }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if mineral.specific_gravity != "" %}
              <td class="mineral__category">Specific Gravity</td>
              <td>{{ mineral.specific_gravity }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if mineral.cleavage != "" %}
              <td class="mineral__category">Cleavage</td>
              <td>{{ mineral.cleavage|title }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if mineral.diaphaneity != "" %}
              <td class="mineral__category">Diaphaneity</td>
              <td>{{ mineral.diaphaneity|title}}</td>
            {% endif %}
          </tr>
          <tr>
            {% if mineral.crystal_habit != "" %}
              <td class="mineral__category">Crystal Habit</td>
              <td>{{ mineral.crystal_habit|title }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if mineral.streak != "" %}
              <td class="mineral__category">Streak</td>
              <td>{{ mineral.streak|title }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if mineral.optical_properties != "" %}
              <td class="mineral__category">Optical Properties</td>
              <td>{{ mineral.optical_properties|title }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if mineral.refractive_index != "" %}
              <td class="mineral__category">Refractive Index</td>
              <td>{{ mineral.refractive_index }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if mineral.crystal_symmetry != "" %}
              <td class="mineral__category">Crystal Symmetry</td>
              <td>{{ mineral.crystal_symmetry|title }}</td>
            {% endif %}
          </tr>
          <tr>
            {% if mineral.unit_cell != "" %}
              <td class="mineral__category">Unit Cell</td>
              <td>{{ mineral.unit_cell }}</td>
            {% endif %}
          </tr>
        </table>
        <a href="{{ "https://en.wikipedia.org/wiki/"|add:mineral.name|truncatewords:1|add:"#/"}}">
          <img src="{% static "images/Wikipedia-icon.png" %}" alt="Wikipedia" class="wiki_link">
        </a>
      </div>
    </div>
  </div>
{% endblock content %}