{% extends "layout.html" %}

{% block content %}

  <div class="bounds">
    <div class="grid-100">
      <ul class="minerals__container">
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Abelsonite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Abenakiite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Abernathyite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Abhurite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Abramovite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Abswurmbachite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Acanthite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Achavalite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Actinolite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Acuminite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Adamite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Adelite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Admontite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Aegirine</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Aenigmatite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Aerinite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Aerugite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Afghanite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Afwillite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Agardite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Agrellite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Agrinierite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Aheylite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Aikinite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Ajoite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Akatoreite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Akdalaite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Akimotoite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Aksaite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Aktashite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Alabandite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Alamosite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Alarsite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Albite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Albrechtshraufite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Aldermanite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Algrodonite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Aliettite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Allabogdanite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Allactite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Allanite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Allanpringite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Alloclasite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Allophane</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Altisite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Amakanite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Amesite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Amphibole</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Anandite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Anglesite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Ankerite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Annite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Anorthite</a>
        </li>
        <li class="minerals__item">
          <a class="minerals__anchor" href="../minerals/templates/detail.html">Antarcticite</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="minerals__random">
    <a class="minerals__anchor" href="#">Show random mineral</a>
  </div>
{% endblock content %}
